[dir]
dir_out      = $DIR_OUT
dir_gcat     = $DIR_GCAT
file_alist   = scales.txt
file_camb    = params_Planck15Table4LastColumn.ini

[sim]
boxL         = 1000
shellwidth   = 25 
zmin         = 0.45
zmax         = 2.0

[randoms]
n_multiplier = 10

[elg]
nz_mu          = -1.204
nz_sigma       = 1
nz_shift       = 0.6836
nz_amp         = 0.000983934470748
sample_index  = 3

[lrg]
nz_mu          = -1.505
nz_sigma       = 0.451
nz_shift       = 0.5
nz_amp         = 0.0000352
sample_index  = 1

[qso]
nz_a           = -9.9e-6
nz_b           = 3.762e-05
sample_index  = 2

